body{background-color: #F5F5F5;}
nav{background-color: black; height: 100px;}
.botao{margin-top: 20px;}
.botao3{margin-top: 14%;}
.cabecalho{margin-top: 32px;}
.container0{margin-top: 20px; margin-bottom: 20px; background-color: white; height: 300px;}
.cartao1{margin-bottom: 20px; margin-top: 20px; margin-left: 16px; margin-right: 16px; width: 193px;}
.dados1{font-size: 13px; color: grey;}
.icone1{height: 200px; margin-left: 80px;}
.icone2{height: 190px; margin-top: 10px; margin-left: 75px;}
.img0{height: 75px; margin-bottom: 20px;}
.img1{height: 20px;}
.img4{height: 100px}
.link0{color: black;}
.link1{color: black; text-align: center; font-size: 13px;}
.linha1{background-color: black; margin-top: 15px;}
.linha2{background-color: white; margin-top: 40px;}
.motivacao{font-size: 15px; margin-top: 65px; text-align: right;}
.nome{margin-top: 45px}
.rodape{margin-top: 100px;}
.titulo{margin-top: 20px; color: white;}
.titulo1{color: white; text-align: center; font-size: 25px; margin-bottom: 15px; margin-top: 15px;}
.titulo2{text-align: center;}
.tudo1{margin-top: 30px;}