body{background-image: linear-gradient(#ffffff,#8888); height: 769px;}
form{text-align: center; color: white;}
.container{margin-top: 200px;}
.ano{font-size: 13px; text-align: left; margin-bottom: 10px;}
.coluna{background-color: black;}
.img0{height: 75px; margin-top: 10px;}
.linha1{margin-top: 20px;}
.linha2{margin-top: 10px;}